:root {
    --primary-bg: url('../../assets/bkg.webp');
    filter: saturate(75%);
    --primary-text: white;
    --primary-font: 'Pixelify Sans', sans-serif;
    --button-hover-bg: #000000c5;
    --button-text: whitrgba(23, 23, 23, 0.816)
    --button-padding: 15px 30px;
    --button-font-size: 20px;
    --form-input-width: 250px;
    --form-input-padding: 10px;
    --form-input-radius: 10px;
    --form-font-size: 18px;

}

.logo{
    position: absolute;
    top:-110px;
    width: 400px;;
    z-index: -1;
}
body {
    background: var(--primary-bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--primary-font);
    color: var(--primary-text);
    text-align: center;
    margin: 0;
    min-height: 90vh;
    overflow-x: hidden;

   
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;

 
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    width: 100%; 
    height: 60px; 
    padding: 10px; 
    font-size: 20px;
    background-color: #c2370d00;
    font-family: var(--primary-font);
    font-size: 32px;
    border: none;
    color: var(--button-text);
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
    text-align: center;
}

button:hover {
    background-color: var(--button-hover-bg);
    content: var(--button-hover-bg);
}

table {
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
}

#registroForm {
    text-align: center;
}

#registroForm h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#aliasInput {
    font-family: var(--primary-font); 
    font-size: var(--form-font-size);
    padding: var(--form-input-padding);
    width: var(--form-input-width);
    border: 2px solid var(--primary-text);
    border-radius: var(--form-input-radius);
    background-color: transparent;
    color: var(--primary-text);
}

#aliasInput::placeholder {
    font-family: var(--primary-font); 
    color: var(--primary-text); 
    opacity: 0.8; 
}
#registroForm button {
    font-size: var(--form-font-size);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: var(--form-input-radius);
}

#registroForm {
    text-align: center; 
}

#tablaRegistros{
    font-size: 22px;
}
.tabla-container {
    max-height: 300px; 
    overflow-y: auto;
    scrollbar-color: transparent transparent; 
    scrollbar-width: thin; 
}
#instrucciones, #creditos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.playerContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 200px;
    justify-items: center;
    align-items: start;
    margin: 100px ;
}
#player1{
    background-image: url("../../assets/player/_Idle.png"); 
    grid-column: 2;
}
#player2{
    background-image: url("../../assets/player2/_Idle.png"); 
    grid-column: 4;
}
#selected{
    grid-row: 2 ;
    grid-column: 3;
}
.sprite {
    border: 1px solid white ;
    transform: scale(3);
    width: 120px; 
    height: 60px;
    background-size: 1200px 80px; 
    animation: animarSprite 1s steps(10) infinite; 
}

#selected1{
    background-image: url("../../assets/player/_Run.png"); 
}

#selected2{
    background-image: url("../../assets/player2/_Run.png"); 
}

.sprite img {
    width: 100%;
    height: 100%;
    opacity: 0;
}


@keyframes animarSprite {
    from { background-position: 0 bottom; }
    to { background-position: -1200px bottom; } 
}

#playBtn{
    grid-row: 2;
    grid-column: 5;
    align-self: end;


}

#playBtn:disabled{
    background-color: #aaaaaa;
}
#aliasCont{
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
}
#aliasInput{
    font-size: var(--primary-font);
    padding: var(--form-input-padding);
    width: var(--form-input-width);
    border-radius: var(--form-input-radius);
    background-color: transparent;
    color: var(--primary-text);

}
#regresarMenu{
    min-height: 100px;
    grid-row: 3;
    grid-column: 3;
}