:root {
    --primary-bg: #171a29;
    --primary-text: white;
    --primary-font: 'Pixelify Sans', sans-serif;
    --button-bg: #c2370d;
    --button-hover-bg: #e64a19;
    --button-text: white;
    --button-padding: 15px 30px;
    --button-font-size: 20px;
    --form-input-width: 250px;
    --form-input-padding: 10px;
    --form-input-radius: 5px;
    --form-font-size: 18px;
}

body {
    background-color: var(--primary-bg);
    font-family: var(--primary-font);
    color: var(--primary-text);
    text-align: center;
    overflow: hidden;
    margin: 0;
    /* display: grid; */
    /* align-items: center; */
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    background-color: var(--button-bg);
    border: none;
    color: var(--button-text);
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
}

button:hover {
    background-color: var(--button-hover-bg);
}

table {
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
}

#registroForm {
    text-align: center;
}

#registroForm h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#registroForm input {
    font-size: var(--form-font-size);
    padding: var(--form-input-padding);
    width: var(--form-input-width);
    margin-bottom: 20px;
    border-radius: var(--form-input-radius);
}

#registroForm button {
    font-size: var(--form-font-size);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: var(--form-input-radius);
}
#creditsCanvas {
    display: block;
    background-color: #fff5e1; 
    margin: 50px auto;
}